body {background-color: #FFA07A;
      color: #FAF0E6;     
}

.hyvat{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 5em;
    color: blue;
    line-height: 250px;
    text-align: center;
    width: 500px;
    height: 250px;
    background-color: #66CDAA;
    padding: 40px;
    position: absolute;
    top: 560px;
    margin-top: 60px;
    left: 50%;
    transform: translate(-50%);
}
.huonot{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 5em;
    vertical-align: middle;
    line-height: 250px;
    text-align: center;
    width: 500px;
    height: 250px;
    background-color: #66CDAA;
    padding: 40px;
    position: absolute;
    top: 180px ;
    left: 50%;
    transform: translate(-50%);
    margin-top: 60px;
}

.nolot{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 26px;
    line-height: 250px;
    text-align: center;
    vertical-align: middle;
    width: 500px;
    height: 250px;
    background-color: #66CDAA;
    padding: 40px;
    position: absolute;
    top: 940px;
    margin-top: 60px;
    left: 50%;
    transform: translate(-50%);
}

.paivitetty{
    text-align: right;
    bottom: 8px;
    right: 16px;
    font-size: 14px;
    position: fixed;
}

h1{
    font-size: 2cm;
    margin-top: 100px;
    text-align: center;

}


h2{
    font-size: 2em;
    margin-top: 100px;
    text-align: center;

}

h3{
    font-size: 24px;
    margin-top: 120px;
    text-align: center;

}

.sarjat{
    text-align: center;
    margin-top: 60px;    
}

ul {
  font-size: 25px;
  text-align: center;
}

a:link {
  color: #FAF0E6;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #FAF0E6;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}


